node-red/data/flows.json
[
    {
        "id": "e9b7f147e511e03f",
        "type": "tab",
        "label": "Heating",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "08116aa9d09b7e07",
        "type": "tab",
        "label": "Lights",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c70c3bb6711d4880",
        "type": "tab",
        "label": "Sensors Fetch",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c3f1d6073dd1b579",
        "type": "subflow",
        "name": "Price Strategy",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 140,
                "wires": [
                    {
                        "id": "0f1a9c082b27ebd9"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1340,
                "y": 80,
                "wires": [
                    {
                        "id": "98c7d7f3fb98aea3",
                        "port": 0
                    },
                    {
                        "id": "c9d3d08f8d5535f8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1340,
                "y": 140,
                "wires": [
                    {
                        "id": "98c7d7f3fb98aea3",
                        "port": 1
                    },
                    {
                        "id": "c9d3d08f8d5535f8",
                        "port": 1
                    }
                ]
            },
            {
                "x": 1340,
                "y": 200,
                "wires": [
                    {
                        "id": "98c7d7f3fb98aea3",
                        "port": 2
                    },
                    {
                        "id": "c9d3d08f8d5535f8",
                        "port": 2
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "a9f70622d9abf0a6",
        "type": "ui_tab",
        "name": "Heating",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "eae812162ea73f63",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Soldat Höks Väg 8",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "YYYY/MM/DD",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "45d82d7418ebf88d",
        "type": "ui_group",
        "name": "Graph",
        "tab": "a9f70622d9abf0a6",
        "order": 2,
        "disp": false,
        "width": 11,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d155336b6387c79",
        "type": "ui_tab",
        "name": "Lights",
        "icon": "dashboard",
        "order": 1,
        "disabled": true,
        "hidden": false
    },
    {
        "id": "1769812833fcb3e0",
        "type": "ui_group",
        "name": "Lights",
        "tab": "7d155336b6387c79",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a64a28aa1822ddc0",
        "type": "ui_spacer",
        "z": "08116aa9d09b7e07",
        "name": "spacer",
        "group": "1769812833fcb3e0",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "5c9186f58f3118da",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "122451b9907ba8ea",
        "type": "ui_group",
        "name": "Config",
        "tab": "a9f70622d9abf0a6",
        "order": 3,
        "disp": false,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf71bb7a6c80fb52",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "a9f70622d9abf0a6",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7573a64fe66a4823",
        "type": "tibber-api-endpoint",
        "feedUrl": "wss://api.tibber.com/v1-beta/gql/subscriptions",
        "queryUrl": "https://api.tibber.com/v1-beta/gql",
        "feedTimeout": "60",
        "name": "Tibber"
    },
    {
        "id": "1509f3208579002e",
        "type": "ui_spacer",
        "z": "e9b7f147e511e03f",
        "name": "spacer",
        "group": "122451b9907ba8ea",
        "order": 9,
        "width": 5,
        "height": 1
    },
    {
        "id": "b1941c4705040f69",
        "type": "switch",
        "z": "c3f1d6073dd1b579",
        "name": "",
        "property": "strategy",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "lowestPrice",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "bestSave",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 140,
        "wires": [
            [
                "98c7d7f3fb98aea3"
            ],
            [
                "c9d3d08f8d5535f8"
            ]
        ]
    },
    {
        "id": "98c7d7f3fb98aea3",
        "type": "ps-strategy-lowest-price",
        "z": "c3f1d6073dd1b579",
        "name": "Lowest Price",
        "fromTime": "00",
        "toTime": "00",
        "hoursOn": "12",
        "maxPrice": "",
        "doNotSplit": true,
        "sendCurrentValueWhenRescheduling": true,
        "outputIfNoSchedule": "true",
        "outputOutsidePeriod": "true",
        "contextStorage": "memory",
        "x": 1090,
        "y": 100,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c9d3d08f8d5535f8",
        "type": "ps-strategy-best-save",
        "z": "c3f1d6073dd1b579",
        "name": "Best Save",
        "maxHoursToSaveInSequence": 3,
        "minHoursOnAfterMaxSequenceSaved": 2,
        "minSaving": "0.5",
        "sendCurrentValueWhenRescheduling": true,
        "outputIfNoSchedule": "true",
        "contextStorage": "memory",
        "x": 1090,
        "y": 180,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "0f1a9c082b27ebd9",
        "type": "influxdb in",
        "z": "c3f1d6073dd1b579",
        "influxdb": "5c9186f58f3118da",
        "name": "Influx: Get nordpool prices",
        "query": "from(bucket: \"node-red\")\n  |> range(start: -1h, stop: 2d)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"nordpool-prices\")",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "Home Automation",
        "x": 230,
        "y": 140,
        "wires": [
            [
                "8578d0e9b24fc679",
                "f32fe87b72d31e1d"
            ]
        ]
    },
    {
        "id": "8578d0e9b24fc679",
        "type": "function",
        "z": "c3f1d6073dd1b579",
        "name": "Parse nordpool prices",
        "func": "msg.nordpool_prices = msg.payload.map(p => {\n    return {\n        \"timestamp\": p._time,\n        \"price\": p._value\n    }\n});\nmsg.payload = null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 140,
        "wires": [
            [
                "cd7a0a25b2bd14ef"
            ]
        ]
    },
    {
        "id": "cd7a0a25b2bd14ef",
        "type": "function",
        "z": "c3f1d6073dd1b579",
        "name": "Parse config and transform prices to Power saver",
        "func": "const heatConfig = msg.heatConfig;\nconst now = new Date();\n\nlet strategy = heatConfig.strategy;\nlet config;\nif (strategy === \"lowestPrice\") {\n    config = JSON.parse(JSON.stringify(heatConfig.lowestPrice));\n\n    config.fromTime = now.getHours();\n    config.toTime = config.fromTime;\n\n    const lastPriceDate = new Date(msg.nordpool_prices.at(-1).timestamp);\n\n    // If we don't have any prices further than today\n    // then use toTime to the last price hour, ie. schedule\n    // as far as we have data\n    if (now.getFullYear() == lastPriceDate.getFullYear()\n        && now.getMonth() == lastPriceDate.getMonth()\n        && now.getDay() == lastPriceDate.getDay()) {\n        config.toTime = lastPriceDate.getHours();\n\n        // Adjust the hoursOn if longer than configured\n        let priceTime = config.fromTime - config.toTime;\n        if (config.hoursOn > priceTime) {\n            config.hoursOn = priceTime;\n        }\n    }\n} else {\n    config = JSON.parse(JSON.stringify(heatConfig.bestSave));\n}\n\nreturn {\n    \"strategy\": strategy,\n    \"payload\": {\n        \"commands\": {\n            \"reset\": true,\n        },\n        \"config\": config,\n        \"priceData\": msg.nordpool_prices\n            .map(p => {\n                return {\n                    \"value\": p.price/1000,\n                    \"start\": p.timestamp\n                };\n            })\n    }\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 240,
        "wires": [
            [
                "b1941c4705040f69",
                "6d1f3bdc62bf6691"
            ]
        ]
    },
    {
        "id": "f32fe87b72d31e1d",
        "type": "debug",
        "z": "c3f1d6073dd1b579",
        "d": true,
        "name": "Debug: Influx Nordpool query",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 80,
        "wires": []
    },
    {
        "id": "6d1f3bdc62bf6691",
        "type": "debug",
        "z": "c3f1d6073dd1b579",
        "name": "Debug: Power saver data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 240,
        "wires": []
    },
    {
        "id": "110ef92232e90602",
        "type": "debug",
        "z": "e9b7f147e511e03f",
        "name": "Debug: Power saver data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 440,
        "wires": []
    },
    {
        "id": "638fb96d8fc1107e",
        "type": "ui_chart",
        "z": "e9b7f147e511e03f",
        "name": "",
        "group": "45d82d7418ebf88d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Heating schedule",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#e60505",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1470,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "059a75d75edd7eee",
        "type": "function",
        "z": "e9b7f147e511e03f",
        "name": "Transform scheule to graph",
        "func": "/*\nmsg.payload=[{\n    \"series\": [\"temp1\", \"temp2\", \"temp3\" ],\n    \"data\": [ [5,6,9], [3,8,5], [6,7,2] ],\n    \"labels\": [ \"Jan\", \"Feb\", \"Mar\" ]\n}];\n*/\n\n\n\nlet total = 0;\nfor (var i = 0; i < msg.payload.hours.length; i++) {\n    total += msg.payload.hours[i].price;\n}\nconst mean = Math.round((total / msg.payload.hours.length) * 100) / 100;\n\nconst forecast = flow.get(\"temperatureForecast\", \"memory\") || {};\n\nreturn {\n    \"payload\": [{\n        \"series\": [\"Price\", \"Price Mean\", \"Temperature\", \"Heat pump blocked\"],\n        \"data\": [\n            msg.payload.hours.map(p => {\n                let start = new Date(p.start).getTime();\n                return {\"x\": start, \"y\": p.price };\n            }),\n            msg.payload.hours.map(p => {\n                let start = new Date(p.start).getTime();\n                return { \"x\": start, \"y\": mean};\n            }),\n            msg.payload.hours.map(p => {\n                // Find forecast temperature if present\n                let start = new Date(p.start).getTime();\n                let temp = forecast[start];\n                return { \"x\": start, \"y\": temp };\n            }),\n            msg.payload.hours.map(p => {\n                let start = new Date(p.start).getTime();\n                return { \"x\": start, \"y\": p.onOff ? 0 : 1 };\n            })\n        ],        \n        \"labels\": [\"Price\", \"Price Mean\", \"Temperature\", \"Heat pump blocked\"]\n    }]\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 400,
        "wires": [
            [
                "638fb96d8fc1107e",
                "4bb272a98a510258"
            ]
        ]
    },
    {
        "id": "4bb272a98a510258",
        "type": "debug",
        "z": "e9b7f147e511e03f",
        "name": "Debug: Graph data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 440,
        "wires": []
    },
    {
        "id": "7da01a1de7518058",
        "type": "inject",
        "z": "e9b7f147e511e03f",
        "name": "Schedule Heating",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "edb2299daf504d27"
            ]
        ]
    },
    {
        "id": "5ac169c9e6f94383",
        "type": "comment",
        "z": "e9b7f147e511e03f",
        "name": "Fetch the next days prices from Nordpool and inssert into Influx",
        "info": "# Fetch 48 hour prices from Nordpool",
        "x": 270,
        "y": 40,
        "wires": []
    },
    {
        "id": "f7952d245b2df006",
        "type": "comment",
        "z": "e9b7f147e511e03f",
        "name": "Schedule heater and graph",
        "info": "",
        "x": 150,
        "y": 240,
        "wires": []
    },
    {
        "id": "ccf14c2b10fbaa2f",
        "type": "watch",
        "z": "e9b7f147e511e03f",
        "name": "Changes: Lowest Price settings",
        "files": "/data/lowest-price-settings.json",
        "recursive": "",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "edb2299daf504d27"
            ]
        ]
    },
    {
        "id": "ae52d3e291512c23",
        "type": "function",
        "z": "e9b7f147e511e03f",
        "d": true,
        "name": "Transform Heat Schedule for Slack",
        "func": "msg.payload = {\n    \"channel\": \"general\",\n    \"text\": `New heat schedule installed:\n    \\`\\`\\`\n` + JSON.stringify(msg.payload.schedule, null, 2) + `\n    \\`\\`\\`\n    Config:\n    \\`\\`\\`\n` + JSON.stringify(msg.payload.config, null, 2) + `\n    \\`\\`\\`\n    `\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 480,
        "wires": [
            [
                "7b6c3d1503349fbc"
            ]
        ]
    },
    {
        "id": "7b6c3d1503349fbc",
        "type": "http request",
        "z": "e9b7f147e511e03f",
        "name": "HttpRequest: Send heat schedule to slack",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://slack.com/api/chat.postMessage",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "bearer",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 1540,
        "y": 480,
        "wires": [
            [
                "3a3de52759b9ce0a"
            ]
        ]
    },
    {
        "id": "3a3de52759b9ce0a",
        "type": "debug",
        "z": "e9b7f147e511e03f",
        "name": "Debug: Send to slack",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1840,
        "y": 480,
        "wires": []
    },
    {
        "id": "d111e31c3283e559",
        "type": "debug",
        "z": "e9b7f147e511e03f",
        "name": "Debug: Heat blocking",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 280,
        "wires": []
    },
    {
        "id": "d43da30de2b364ab",
        "type": "comment",
        "z": "e9b7f147e511e03f",
        "name": "UI",
        "info": "",
        "x": 110,
        "y": 660,
        "wires": []
    },
    {
        "id": "230c52c997a3d0c4",
        "type": "inject",
        "z": "e9b7f147e511e03f",
        "name": "Fetch Prices",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "10 15 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "08baab9101c343d5",
                "dc87ed291f731b71"
            ]
        ]
    },
    {
        "id": "09b9601b66a66ef7",
        "type": "function",
        "z": "e9b7f147e511e03f",
        "name": "Transform Nordpool -> InfluxDb",
        "func": "let tags = {\n    \"currency\": \"SEK\",\n    \"area\": \"SE3\"\n};\n\nlet measurement = \"nordpool-prices\";\n\nlet arr = msg.payload.map(p => {\n    return {\n        \"measurement\": measurement,\n        \"fields\": {\n            \"price\": p.price\n        },\n        \"tags\": tags,\n        \"timestamp\": new Date(p.timestamp).getTime()\n    }\n});\n\nreturn { \n    \"payload\": arr \n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 120,
        "wires": [
            [
                "79b0660acd00282f",
                "eaab2cde3844be0c"
            ]
        ]
    },
    {
        "id": "02987cbd37ba4c3f",
        "type": "nordpool-api-plus",
        "z": "e9b7f147e511e03f",
        "name": "Nordpool fetch prices",
        "area": "SE3",
        "currency": "SEK",
        "x": 540,
        "y": 120,
        "wires": [
            [
                "09b9601b66a66ef7"
            ]
        ]
    },
    {
        "id": "08baab9101c343d5",
        "type": "function",
        "z": "e9b7f147e511e03f",
        "name": "Tomorrow",
        "func": "const today = new Date();\nconst tomorrow = new Date(today);\ntomorrow.setDate(tomorrow.getDate() + 1)\ntomorrow.setUTCHours(0,0,0,0);\nmsg.date = tomorrow;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [
            [
                "02987cbd37ba4c3f"
            ]
        ]
    },
    {
        "id": "79b0660acd00282f",
        "type": "debug",
        "z": "e9b7f147e511e03f",
        "name": "Debug: Influx insert query",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 120,
        "wires": []
    },
    {
        "id": "eaab2cde3844be0c",
        "type": "influxdb batch",
        "z": "e9b7f147e511e03f",
        "influxdb": "5c9186f58f3118da",
        "precision": "",
        "retentionPolicy": "",
        "name": "Influx: Insert nordpool prices",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Home Automation",
        "bucket": "node-red",
        "x": 1160,
        "y": 160,
        "wires": []
    },
    {
        "id": "7def64854a479990",
        "type": "complete",
        "z": "e9b7f147e511e03f",
        "name": "Influx Insert Complete",
        "scope": [
            "eaab2cde3844be0c"
        ],
        "uncaught": false,
        "x": 160,
        "y": 300,
        "wires": [
            [
                "edb2299daf504d27"
            ]
        ]
    },
    {
        "id": "bab6ee85b84ac357",
        "type": "ui_dropdown",
        "z": "e9b7f147e511e03f",
        "name": "",
        "label": "Strategy",
        "tooltip": "",
        "place": "Select option",
        "group": "122451b9907ba8ea",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Best Save",
                "value": "bestSave",
                "type": "str"
            },
            {
                "label": "Lowest Price",
                "value": "lowestPrice",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "strategy",
        "topicType": "str",
        "className": "",
        "x": 540,
        "y": 780,
        "wires": [
            [
                "b864935db4b2ab2d"
            ]
        ]
    },
    {
        "id": "28dbb60ea78f0927",
        "type": "ui_switch",
        "z": "e9b7f147e511e03f",
        "name": "",
        "label": "Lowest Price - Consecutive on-period",
        "tooltip": "",
        "group": "122451b9907ba8ea",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "lowestPrice.doNotSplit",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 860,
        "wires": [
            [
                "b864935db4b2ab2d"
            ]
        ]
    },
    {
        "id": "b06eb2e8e4f9925c",
        "type": "ui_numeric",
        "z": "e9b7f147e511e03f",
        "name": "",
        "label": "Best Save - Max per sequence",
        "tooltip": "",
        "group": "122451b9907ba8ea",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": true,
        "passthru": true,
        "topic": "bestSave.maxHoursToSaveInSequence",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 610,
        "y": 900,
        "wires": [
            [
                "b864935db4b2ab2d"
            ]
        ]
    },
    {
        "id": "1ecb4ea7299f3f03",
        "type": "ui_numeric",
        "z": "e9b7f147e511e03f",
        "name": "",
        "label": "Best Save - Min recover",
        "tooltip": "",
        "group": "122451b9907ba8ea",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": true,
        "passthru": true,
        "topic": "bestSave.minHoursOnAfterMaxSequenceSaved",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 590,
        "y": 940,
        "wires": [
            [
                "b864935db4b2ab2d"
            ]
        ]
    },
    {
        "id": "67d75cb2a6a0023a",
        "type": "ui_button",
        "z": "e9b7f147e511e03f",
        "name": "",
        "group": "122451b9907ba8ea",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Apply",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 530,
        "y": 1020,
        "wires": [
            [
                "f663ae8c5503294e"
            ]
        ]
    },
    {
        "id": "aa5149313515866f",
        "type": "ui_numeric",
        "z": "e9b7f147e511e03f",
        "name": "",
        "label": "Lowest Price - Hours on",
        "tooltip": "",
        "group": "122451b9907ba8ea",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": true,
        "passthru": false,
        "topic": "lowestPrice.hoursOn",
        "topicType": "str",
        "format": "{{value}}",
        "min": "1",
        "max": "24",
        "step": 1,
        "className": "",
        "x": 590,
        "y": 820,
        "wires": [
            [
                "b864935db4b2ab2d"
            ]
        ]
    },
    {
        "id": "b864935db4b2ab2d",
        "type": "function",
        "z": "e9b7f147e511e03f",
        "name": "Set UI to context",
        "func": "let config = flow.get(\"heatConfig\", \"memory\");\nif (config === null || config === undefined) {\n    config = {};\n    flow.set(\"heatConfig\", config, \"memory\");\n}\n\n// Split path into component parts\nconst parts = msg.topic.split('.');\n\n// Create sub-objects along path as needed\nlet target = config;\nwhile (parts.length > 1) {\n    const part = parts.shift();\n    target = target[part] = target[part] || {};\n}\n\n// Set value at end of path\ntarget[parts[0]] = msg.payload;\n\n//config[msg.topic] = msg.payload;\n\n//node.warn(config);\n\nreturn {\n    \"heatConfig\": config\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 860,
        "wires": [
            [
                "12e28e4092178c2d"
            ]
        ]
    },
    {
        "id": "b194f84b18325d6f",
        "type": "ui_button",
        "z": "e9b7f147e511e03f",
        "name": "",
        "group": "122451b9907ba8ea",
        "order": 8,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 530,
        "y": 1060,
        "wires": [
            [
                "b9ab93f6c634c234"
            ]
        ]
    },
    {
        "id": "f663ae8c5503294e",
        "type": "function",
        "z": "e9b7f147e511e03f",
        "name": "Store UI from context",
        "func": "let config = flow.get(\"heatConfig\", \"memory\");\nlet configCopy = JSON.parse(JSON.stringify(config));\n// Store the memory config to file context upon apply\nflow.set(\"heatConfig\", configCopy, \"file\");\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "c407b268e4cae7c6",
        "type": "inject",
        "z": "e9b7f147e511e03f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "#:(file)::heatConfig.strategy",
        "payloadType": "flow",
        "x": 300,
        "y": 780,
        "wires": [
            [
                "bab6ee85b84ac357"
            ]
        ]
    },
    {
        "id": "517aec352a409756",
        "type": "complete",
        "z": "e9b7f147e511e03f",
        "name": "Config changed",
        "scope": [
            "f663ae8c5503294e",
            "b9ab93f6c634c234"
        ],
        "uncaught": false,
        "x": 180,
        "y": 480,
        "wires": [
            [
                "edb2299daf504d27"
            ]
        ]
    },
    {
        "id": "b9ab93f6c634c234",
        "type": "function",
        "z": "e9b7f147e511e03f",
        "name": "Reset config from file",
        "func": "let config = flow.get(\"heatConfig\", \"file\");\nlet configCopy = JSON.parse(JSON.stringify(config));\n// Set the memory config to the coped file\nflow.set(\"heatConfig\", configCopy, \"memory\");\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "29f40f86d707399b",
        "type": "inject",
        "z": "e9b7f147e511e03f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "#:(file)::heatConfig.lowestPrice.hoursOn",
        "payloadType": "flow",
        "x": 270,
        "y": 820,
        "wires": [
            [
                "aa5149313515866f"
            ]
        ]
    },
    {
        "id": "08d90a9615ca8517",
        "type": "inject",
        "z": "e9b7f147e511e03f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "#:(file)::heatConfig.lowestPrice.doNotSplit",
        "payloadType": "flow",
        "x": 270,
        "y": 860,
        "wires": [
            [
                "28dbb60ea78f0927"
            ]
        ]
    },
    {
        "id": "aec7a10dce6a9a16",
        "type": "inject",
        "z": "e9b7f147e511e03f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "#:(file)::heatConfig.bestSave.maxPerSequence",
        "payloadType": "flow",
        "x": 250,
        "y": 900,
        "wires": [
            [
                "b06eb2e8e4f9925c"
            ]
        ]
    },
    {
        "id": "3783e5b0a8d420e8",
        "type": "inject",
        "z": "e9b7f147e511e03f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "#:(file)::heatConfig.bestSave.minRecover",
        "payloadType": "flow",
        "x": 270,
        "y": 940,
        "wires": [
            [
                "1ecb4ea7299f3f03"
            ]
        ]
    },
    {
        "id": "12e28e4092178c2d",
        "type": "subflow:c3f1d6073dd1b579",
        "z": "e9b7f147e511e03f",
        "name": "Preview: Price Strategy",
        "x": 950,
        "y": 640,
        "wires": [
            [],
            [],
            [
                "059a75d75edd7eee",
                "110ef92232e90602"
            ]
        ]
    },
    {
        "id": "78d6816345b59d77",
        "type": "subflow:c3f1d6073dd1b579",
        "z": "e9b7f147e511e03f",
        "name": "",
        "x": 750,
        "y": 380,
        "wires": [
            [
                "d111e31c3283e559",
                "9de607ca313a4e23"
            ],
            [
                "d111e31c3283e559",
                "9de607ca313a4e23"
            ],
            [
                "059a75d75edd7eee",
                "110ef92232e90602",
                "ae52d3e291512c23"
            ]
        ]
    },
    {
        "id": "edb2299daf504d27",
        "type": "function",
        "z": "e9b7f147e511e03f",
        "name": "Set Heat Config From file",
        "func": "let config = flow.get(\"heatConfig\", \"file\");\nreturn {\n    \"heatConfig\": config\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 380,
        "wires": [
            [
                "78d6816345b59d77"
            ]
        ]
    },
    {
        "id": "85aeab2d71bcd892",
        "type": "ui_gauge",
        "z": "e9b7f147e511e03f",
        "name": "Outside temperature",
        "group": "cf71bb7a6c80fb52",
        "order": 1,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "Outside (C)",
        "label": "Celcius",
        "format": "{{value | number:1}}",
        "min": "-25",
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1820,
        "y": 800,
        "wires": []
    },
    {
        "id": "d6af9a6ccd78029c",
        "type": "inject",
        "z": "e9b7f147e511e03f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "sensorsAverage[\"temperature_285a2726030000cb\"]",
        "payloadType": "global",
        "x": 1460,
        "y": 800,
        "wires": [
            [
                "85aeab2d71bcd892"
            ]
        ]
    },
    {
        "id": "9c503382fec6b297",
        "type": "ui_gauge",
        "z": "e9b7f147e511e03f",
        "name": "Inside temperature",
        "group": "cf71bb7a6c80fb52",
        "order": 2,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "Inside (C)",
        "label": "Celcius",
        "format": "{{value | number:1}}",
        "min": "10",
        "max": "35",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1810,
        "y": 840,
        "wires": []
    },
    {
        "id": "8477abe8d96ad9bd",
        "type": "inject",
        "z": "e9b7f147e511e03f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "sensorsAverage[\"temperature_285ddc9c03000012\"]",
        "payloadType": "global",
        "x": 1460,
        "y": 840,
        "wires": [
            [
                "9c503382fec6b297"
            ]
        ]
    },
    {
        "id": "61f784685402655d",
        "type": "inject",
        "z": "e9b7f147e511e03f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "#:(file)::heatConfig.bestSave.minSaving",
        "payloadType": "flow",
        "x": 270,
        "y": 980,
        "wires": [
            [
                "61c0204d789949f2"
            ]
        ]
    },
    {
        "id": "654bf5f3c0890847",
        "type": "ui_ui_control",
        "z": "e9b7f147e511e03f",
        "name": "",
        "events": "all",
        "x": 920,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "a13a9bac44302983",
        "type": "ui_gauge",
        "z": "e9b7f147e511e03f",
        "name": "Current power",
        "group": "cf71bb7a6c80fb52",
        "order": 3,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "Power (W)",
        "label": "Watt",
        "format": "{{value | number:1}}",
        "min": "100",
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1800,
        "y": 880,
        "wires": []
    },
    {
        "id": "65992c87bf938bb9",
        "type": "inject",
        "z": "e9b7f147e511e03f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "sensorsAverage[\"power_home\"]",
        "payloadType": "global",
        "x": 1400,
        "y": 880,
        "wires": [
            [
                "a13a9bac44302983"
            ]
        ]
    },
    {
        "id": "dc87ed291f731b71",
        "type": "http request",
        "z": "e9b7f147e511e03f",
        "name": "SMHI Forecast",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://opendata-download-metfcst.smhi.se/api/category/pmp3g/version/2/geotype/point/lon/12.700831/lat/57.489277/data.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 180,
        "wires": [
            [
                "cf95a2d27560732a"
            ]
        ]
    },
    {
        "id": "cf95a2d27560732a",
        "type": "function",
        "z": "e9b7f147e511e03f",
        "name": "Store SMHI in flow context",
        "func": "let forecast = {};\n\nmsg.payload.timeSeries.forEach(f => {\n    let time = new Date(f.validTime).getTime();\n    forecast[time] = f.parameters.find(p => p.name === \"t\").values[0];\n});\n\nflow.set(\"temperatureForecast\", forecast, \"memory\");\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "a2f3c0daaf92d76e",
        "type": "shelly-gen1",
        "z": "e9b7f147e511e03f",
        "hostname": "192.168.0.142",
        "description": "Shelly Uni (Heat pump)",
        "mode": "none",
        "server": "",
        "outputmode": "event",
        "uploadretryinterval": 5000,
        "pollinginterval": 5000,
        "pollstatus": false,
        "getstatusoncommand": false,
        "devicetype": "Relay",
        "outputs": 1,
        "rgbwmode": "color",
        "x": 1490,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "9de607ca313a4e23",
        "type": "function",
        "z": "e9b7f147e511e03f",
        "name": "Turn on/off heat pump blocking",
        "func": "// The price strategy sends true when turn on and false\n// when turn off which means we need to invert this\n// when block/un-block heat pump\n\n// Relay number two (index 1) is heat pump blocking\nreturn {\n    \"payload\": {\n        relay: 1,\n        on: !msg.payload\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 320,
        "wires": [
            [
                "a2f3c0daaf92d76e",
                "5e40b19e34f10613"
            ]
        ]
    },
    {
        "id": "5e40b19e34f10613",
        "type": "debug",
        "z": "e9b7f147e511e03f",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 280,
        "wires": []
    },
    {
        "id": "61c0204d789949f2",
        "type": "ui_text_input",
        "z": "e9b7f147e511e03f",
        "name": "Best Save - Min saving",
        "label": "Best Save - Min saving",
        "tooltip": "",
        "group": "122451b9907ba8ea",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "bestSave.minSaving",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 580,
        "y": 980,
        "wires": [
            [
                "b864935db4b2ab2d"
            ]
        ]
    },
    {
        "id": "99ef81142ef233f5",
        "type": "shelly-gen1",
        "z": "08116aa9d09b7e07",
        "hostname": "192.168.0.68",
        "description": "Office: Window Lights",
        "mode": "polling",
        "server": "",
        "outputmode": "event",
        "uploadretryinterval": 5000,
        "pollinginterval": 5000,
        "pollstatus": false,
        "getstatusoncommand": true,
        "devicetype": "Relay",
        "outputs": 1,
        "rgbwmode": "color",
        "x": 700,
        "y": 60,
        "wires": [
            [
                "ba4a81681619c71b",
                "7af7844dfef9233a"
            ]
        ]
    },
    {
        "id": "7af7844dfef9233a",
        "type": "ui_switch",
        "z": "08116aa9d09b7e07",
        "name": "",
        "label": "Office: WIndow Lights",
        "tooltip": "",
        "group": "1769812833fcb3e0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"on\":true}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"on\":false}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 260,
        "y": 60,
        "wires": [
            [
                "99ef81142ef233f5"
            ]
        ]
    },
    {
        "id": "1e521c2b8721e214",
        "type": "ui_button",
        "z": "08116aa9d09b7e07",
        "name": "",
        "group": "1769812833fcb3e0",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "All: Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"on\":false}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "99ef81142ef233f5",
                "817b4685aebe0931"
            ]
        ]
    },
    {
        "id": "817b4685aebe0931",
        "type": "shelly-gen1",
        "z": "08116aa9d09b7e07",
        "hostname": "192.168.0.164",
        "description": "Livingroom Down stairs: Window Lights",
        "mode": "polling",
        "server": "",
        "outputmode": "event",
        "uploadretryinterval": 5000,
        "pollinginterval": 5000,
        "pollstatus": false,
        "getstatusoncommand": true,
        "devicetype": "Relay",
        "outputs": 1,
        "rgbwmode": "color",
        "x": 760,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "dea874ab3c9ea887",
        "type": "ui_switch",
        "z": "08116aa9d09b7e07",
        "name": "",
        "label": "Livingroom Downstairs: WIndow Lights",
        "tooltip": "",
        "group": "1769812833fcb3e0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"on\":true}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"on\":false}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "817b4685aebe0931"
            ]
        ]
    },
    {
        "id": "ba4a81681619c71b",
        "type": "debug",
        "z": "08116aa9d09b7e07",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 60,
        "wires": []
    },
    {
        "id": "981a61bf453d44f4",
        "type": "inject",
        "z": "c70c3bb6711d4880",
        "name": "Every minute",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 200,
        "wires": [
            [
                "f45401be39697f3e",
                "29af7b5bf540017d",
                "f053a154da49e7c2",
                "3f7664234b3f14dc"
            ]
        ]
    },
    {
        "id": "f45401be39697f3e",
        "type": "http request",
        "z": "c70c3bb6711d4880",
        "name": "GET Shelly Uni (Heat pump)",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.142/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "04e9cedfaa1348f5"
            ]
        ]
    },
    {
        "id": "04e9cedfaa1348f5",
        "type": "function",
        "z": "c70c3bb6711d4880",
        "name": "Transform sensor data -> InfluxDb",
        "func": "let measurement = \"sensors\";\nlet time = new Date().getTime();\n\nlet arr = [];\n\n// Temperature\nfor (const [key, value] of Object.entries(msg.payload.ext_temperature)) {\n    arr.push({\n        \"measurement\": measurement,\n        \"fields\": {\n            \"temperature\": value.tC\n        },\n        \"tags\": {\n            \"sensorId\": value.hwID,\n            \"type\": \"temperature\"\n        },\n        \"timestamp\": time\n    });\n}\n\n// Relay statuses\narr.push({\n    \"measurement\": \"relays\",\n    \"fields\": {\n        \"ison\": msg.payload.relays[0].ison\n    },\n    \"tags\": {\n        \"relayId\": \"heatRoomUni_0\",\n        \"type\": \"onoff\"\n    },\n    \"timestamp\": time\n});\narr.push({\n    \"measurement\": \"relays\",\n    \"fields\": {\n        \"ison\": msg.payload.relays[1].ison\n    },\n    \"tags\": {\n        \"relayId\": \"heatRoomUni_1\",\n        \"type\": \"onoff\"\n    },\n    \"timestamp\": time\n});\n\nreturn {\n    \"payload\": arr\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 200,
        "wires": [
            [
                "15bb577a6f16a356",
                "fd4081947c4cd7c8"
            ]
        ]
    },
    {
        "id": "15bb577a6f16a356",
        "type": "debug",
        "z": "c70c3bb6711d4880",
        "name": "Debug: Sensors Influx insert",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 160,
        "wires": []
    },
    {
        "id": "fd4081947c4cd7c8",
        "type": "influxdb batch",
        "z": "c70c3bb6711d4880",
        "influxdb": "5c9186f58f3118da",
        "precision": "",
        "retentionPolicy": "",
        "name": "Influx: Insert sensor data",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Home Automation",
        "bucket": "node-red",
        "x": 1190,
        "y": 200,
        "wires": []
    },
    {
        "id": "29af7b5bf540017d",
        "type": "http request",
        "z": "c70c3bb6711d4880",
        "name": "GET Shelly PM (FTX)",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.246/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 460,
        "y": 240,
        "wires": [
            [
                "3b8861789c2e407b"
            ]
        ]
    },
    {
        "id": "3b8861789c2e407b",
        "type": "function",
        "z": "c70c3bb6711d4880",
        "name": "Transform sensor data -> InfluxDb",
        "func": "let measurement = \"sensors\";\nlet time = new Date().getTime();\n\nlet arr = [];\n\n// FTP power (w)\narr.push({\n    \"measurement\": measurement,\n    \"fields\": {\n        \"power\": msg.payload.meters[0].power\n    },\n    \"tags\": {\n        \"sensorId\": \"ftx\",\n        \"type\": \"power\"\n    },\n    \"timestamp\": time\n});\n\n// Relay status\narr.push({\n    \"measurement\": \"relays\",\n    \"fields\": {\n        \"ison\": msg.payload.relays[0].ison\n    },\n    \"tags\": {\n        \"relayId\": \"ftx\",\n        \"type\": \"onoff\"\n    },\n    \"timestamp\": time\n});\n\nreturn {\n    \"payload\": arr\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 240,
        "wires": [
            [
                "fd4081947c4cd7c8"
            ]
        ]
    },
    {
        "id": "f399145cf39e8f7d",
        "type": "inject",
        "z": "c70c3bb6711d4880",
        "name": "Read sensors average 30min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "a6b53cd9fa0e7ae3"
            ]
        ]
    },
    {
        "id": "a6b53cd9fa0e7ae3",
        "type": "influxdb in",
        "z": "c70c3bb6711d4880",
        "influxdb": "5c9186f58f3118da",
        "name": "Sensors avg last 30min",
        "query": "from(bucket: \"node-red\")\n  |> range(start: -30m, stop: now())\n  |> filter(fn: (r) => r[\"_measurement\"] == \"sensors\")\n  |> group(columns: [\"sensorId\", \"type\"])\n  |> timedMovingAverage(every: 1h, period: 30m)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "Home Automation",
        "x": 470,
        "y": 120,
        "wires": [
            [
                "78091656b64647d7",
                "96af85b030882d78"
            ]
        ]
    },
    {
        "id": "78091656b64647d7",
        "type": "function",
        "z": "c70c3bb6711d4880",
        "name": "Set sensors average to context",
        "func": "let average = {};\n\nmsg.payload.forEach(p => {\n    average[p.type + \"_\" + p.sensorId] = p._value\n});\n\nglobal.set(\"sensorsAverage\", average);\n/*\nnode.warn(\"Sensors average\");\nnode.warn(average);\n*/\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f053a154da49e7c2",
        "type": "http request",
        "z": "c70c3bb6711d4880",
        "name": "GET Shelly Plug (Cellar ventilation)",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.211/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 500,
        "y": 280,
        "wires": [
            [
                "2203c965cdbf792f"
            ]
        ]
    },
    {
        "id": "2203c965cdbf792f",
        "type": "function",
        "z": "c70c3bb6711d4880",
        "name": "Transform sensor data -> InfluxDb",
        "func": "let measurement = \"sensors\";\nlet time = new Date().getTime();\n\nlet arr = [];\n\n// Ventilation power (w)\narr.push({\n    \"measurement\": measurement,\n    \"fields\": {\n        \"power\": msg.payload.meters[0].power\n    },\n    \"tags\": {\n        \"sensorId\": \"cellar_ventilation\",\n        \"type\": \"power\"\n    },\n    \"timestamp\": time\n});\n\n// Relay status\narr.push({\n    \"measurement\": \"relays\",\n    \"fields\": {\n        \"ison\": msg.payload.relays[0].ison\n    },\n    \"tags\": {\n        \"relayId\": \"cellar_ventilation\",\n        \"type\": \"onoff\"\n    },\n    \"timestamp\": time\n});\n\nreturn {\n    \"payload\": arr\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 280,
        "wires": [
            [
                "fd4081947c4cd7c8"
            ]
        ]
    },
    {
        "id": "3f7664234b3f14dc",
        "type": "owfs",
        "z": "c70c3bb6711d4880",
        "name": "",
        "uncached": false,
        "mode": "read",
        "host": "owserver",
        "port": 4304,
        "paths": [
            "28.14C69C030000/temperature",
            "28.B31326030000/temperature"
        ],
        "x": 420,
        "y": 320,
        "wires": [
            [
                "eef99cd8127ca3d1"
            ]
        ]
    },
    {
        "id": "eef99cd8127ca3d1",
        "type": "function",
        "z": "c70c3bb6711d4880",
        "name": "Transform sensor data -> InfluxDb",
        "func": "let measurement = \"sensors\";\nlet time = new Date().getTime();\n\nlet arr = [];\n\nlet sensorId = msg.topic\n    .replace(\"/temperature\", \"\")\n    .replace(\".\", \"\");\n\narr.push({\n    \"measurement\": measurement,\n    \"fields\": {\n        \"temperature\": msg.payload\n    },\n    \"tags\": {\n        \"sensorId\": sensorId,\n        \"type\": \"temperature\"\n    },\n    \"timestamp\": time\n});\n\nreturn {\n    \"payload\": arr\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 320,
        "wires": [
            [
                "fd4081947c4cd7c8"
            ]
        ]
    },
    {
        "id": "58f6ce23b937fa75",
        "type": "tibber-feed",
        "z": "c70c3bb6711d4880",
        "name": "",
        "active": true,
        "apiEndpointRef": "7573a64fe66a4823",
        "homeId": "2e0e4eb1-80e3-41d4-a308-c902ea0c7541",
        "timestamp": "1",
        "power": "1",
        "lastMeterConsumption": "1",
        "accumulatedConsumption": false,
        "accumulatedProduction": false,
        "accumulatedConsumptionLastHour": false,
        "accumulatedProductionLastHour": false,
        "accumulatedCost": "1",
        "accumulatedReward": "1",
        "currency": false,
        "minPower": false,
        "averagePower": false,
        "maxPower": false,
        "powerProduction": false,
        "minPowerProduction": false,
        "maxPowerProduction": false,
        "lastMeterProduction": false,
        "powerFactor": "1",
        "voltagePhase1": "1",
        "voltagePhase2": "1",
        "voltagePhase3": "1",
        "currentL1": "1",
        "currentL2": "1",
        "currentL3": "1",
        "signalStrength": false,
        "x": 420,
        "y": 360,
        "wires": [
            [
                "e742f20972bb8c79"
            ]
        ]
    },
    {
        "id": "e742f20972bb8c79",
        "type": "function",
        "z": "c70c3bb6711d4880",
        "name": "Transform sensor data -> InfluxDb",
        "func": "let measurement = \"sensors\";\nlet time = new Date(msg.payload.timestamp).getTime();\n\nlet arr = [];\n\n// Power\narr.push({\n    \"measurement\": measurement,\n    \"fields\": {\n        \"power\": msg.payload.power\n    },\n    \"tags\": {\n        \"sensorId\": \"home\",\n        \"type\": \"power\"\n    },\n    \"timestamp\": time\n});\n\n// Phases\nfor (let i=1;i<=3;i++) {\n    // Voltage\n    arr.push({\n        \"measurement\": measurement,\n        \"fields\": {\n            \"voltage\": msg.payload[`voltagePhase${i}`]\n        },\n        \"tags\": {\n            \"sensorId\": `home_phase${i}`,\n            \"type\": \"voltage\"\n        },\n        \"timestamp\": time\n    });\n\n    // Current\n    arr.push({\n        \"measurement\": measurement,\n        \"fields\": {\n            \"current\": msg.payload[`currentL${i}`]\n        },\n        \"tags\": {\n            \"sensorId\": `home_currentL${i}`,\n            \"type\": \"current\"\n        },\n        \"timestamp\": time\n    });\n}\n\n// Power meter\narr.push({\n    \"measurement\": measurement,\n    \"fields\": {\n        \"voltage\": msg.payload.lastMeterConsumption\n    },\n    \"tags\": {\n        \"sensorId\": \"home_consumptionCounter\",\n        \"type\": \"counter\"\n    },\n    \"timestamp\": time\n});\n\nreturn {\n    \"payload\": arr\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 360,
        "wires": [
            [
                "fd4081947c4cd7c8"
            ]
        ]
    },
    {
        "id": "96af85b030882d78",
        "type": "debug",
        "z": "c70c3bb6711d4880",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 80,
        "wires": []
    }
]